<h1><%= @command.worker %></h1>


<p>
  <strong>Ausgelöst von: <%= @command.user.email %> </strong>
</p>

<p>
  <strong>Uhrzeit: <%= @command.created_at %> </strong>
</p>

<p>
  <strong>Output: </strong><br/>
  <% linessplit(@command.output) do |line| %>
    <%= line %><br/>
  <% end %>
</p>

